[2015-04-17 03:13] erikreagan opened #1 "Add template hook for plugin devs"
Consider adding in a template hook for 3rd party devs to inject their own fieldtype sample code into the template.

http://buildwithcraft.com/classreference/services/TemplatesService#hook-detail

[code]

Then plugin devs could use the `init()` method to modify the template context like so:

[code]

[2015-04-17 03:19] erikreagan opened #2 "Create logic for initially expanded field groups"
What should the behavior be for field groups when the page first loads? Are they all expanded? Collapsed? Just 1 expanded?

![image](https://cloud.githubusercontent.com/assets/58048/7195511/e2430378-e48e-11e4-9abb-bfeeb5b7d0a8.png)

[2015-04-17 03:26] erikreagan opened #3 "Create color scheme for Prism code highlighting"
Prism allows lovely customizations. What colors should we create/use for syntax highlighting?

The properties can be defined in [`.src/sass/_prism.scss`](https://github.com/focuslabllc/craft-field-cheat-sheet/blob/master/src/sass/_prism.scss) and have the following **relevant** targets available:
- comment
- prolog
- doctype
- cdata
- tag
- tag > tag
- tag > tag > punctuation
- tag > tag > namespa

[2015-04-17 03:31] erikreagan opened #4 "Add more info / help tooltip for code snippets"
Sometimes you need more than just a code snippet title and block of code. It would be nice to have a place to display this additional info.

![image](https://cloud.githubusercontent.com/assets/58048/7195615/a5350268-e490-11e4-84c3-67e83d9c961d.png)

[2015-04-17 03:32] erikreagan opened #5 "Add "copy to clipboard" button"
Looks like you don't need Flash for this anymore. Look into adding a button so users can click once to copy code to the clipboard.

https://developer.mozilla.org/en-US/docs/Web/API/ClipboardEvent

[2015-04-17 03:36] erikreagan opened #6 "Add field filter in sidebar"
Some sites will have a crazy number of fields. It would be great to have a quick filter of fields in both the sidebar and the main content area.

![image](https://cloud.githubusercontent.com/assets/58048/7195658/58059632-e491-11e4-92f9-fc08cef2eb65.png)

---

**Possible filter ideas:**
- text just searches the field handle
- `/type:(.+)/` searches field types (`type:plain text`)
- `/group:(.+)/` s

[2015-04-17 03:42] erikreagan opened #7 "Include Global variables & other common twig snippets?"
Should this cheatsheet be more than just fields? Would it be useful to include global variables (that span any Craft site) and other goodies?

Things like:

- Global vars that every Craft site has
- Common uses of tags (like `{{ now.year }}`)
- http://buildwithcraft.com/docs/templating/global-variables
- http://buildwithcraft.com/docs/templating/functions#url
- Commonly used [Craft-specific filter

[2015-04-17 11:53] erikreagan opened #8 "Define nicer fallback font families"
If a developer is working without a connection to the internet, the Google Fonts that we've imported won't work. Let's define some nicer fallback fonts for these instances.

[2015-04-17 14:26] #8 closed, assigned to andyfought

[2015-04-17 14:30] alexsailer opened #9 "Swap out "x" for unicode symbol"
@andyfought can you swap out the "x" you used in the custom element hover states with the unicode symbol U+00D7

[2015-04-17 14:34] #9 closed, assigned to andyfought

[2015-04-17 14:40] alexsailer opened #10 "Front end tweaks"
- [x] `.field_group header h1 span` needs `letter-spacing: 1;`
- [x] nested sidebar nav dropdown arrows should rotate to indicate expand/collapse
- [x] Add a style for the `element_type_tab a.activeContext` property

[2015-04-17 15:11] #4 closed, assigned to nobody

[2015-04-17 17:13] erikreagan opened #11 "Add a footer of some sort"
I had this in the initial proof of concept. I think something similar would be good for the final release.

![image](https://cloud.githubusercontent.com/assets/58048/7206880/84e92af2-e503-11e4-8028-c2df837ca9b6.png)

Any specific thoughts @alexsailer or @andyfought?

[2015-04-17 20:39] erikreagan opened #12 "Implement Element switching"
Clicking the different default element names should update the code samples

[2015-04-17 20:40] erikreagan opened #13 "Implement custom element feature"
A person should be able to add up to `X` number of elements to use while switching elements in code samples.
- [x] Ability to add a custom element to DOM
- [x] Ability to click the element and update code samples in DOM
- [x] Ability to remove an element in DOM
- [x] Save/update/remove elements to local storage
- [x] Build list from local storage after page loads

[2015-04-17 20:42] erikreagan opened #14 "Change field group indicator in sidebar/nav"
Rather than using an arrow, switch to a plus sign / "x". When expanded, the plus sign rotates 45° to be an "x". When collapsed the opposite happens.

Default is expanded.

[2015-04-17 20:43] #3 closed, assigned to erikreagan

[2015-04-18 13:48] #6 closed, assigned to erikreagan

[2015-04-18 13:50] #12 closed, assigned to erikreagan

[2015-04-18 15:08] #13 closed, assigned to erikreagan

[2015-04-19 13:51] erikreagan opened #15 "Define ::selection property for code blocks"
Looks like Prism sets a couple of properties for `::selection` selectors but the browser (Chrome at least) reads that as removing the background color. So selecting text in code blocks looks like you aren't selecting text right now.

![image](https://cloud.githubusercontent.com/assets/58048/7219681/a2f6ad7c-e679-11e4-8cb0-5a5b4296449d.png)

Let's define a color (or colors) for `::selection`. We ca

[2015-04-19 14:10] #10 closed, assigned to andyfought

[2015-04-19 14:35] erikreagan opened #16 "Style for paragraph text at the bottom of Field sections"
Sometimes there might be a block of text after the entire set of code blocks for a Field (as opposed to per-code block which was recently defined+implemented).

@alexsailer any thoughts on what this could/should look like? Here's a sample:

![image](https://cloud.githubusercontent.com/assets/58048/7219814/ccf65e64-e67f-11e4-9483-76af1d715d86.png)

[2015-04-19 14:42] erikreagan opened #17 "Add a "no results" view when the filter returns nothing"
Sometimes a person might search for a field and get no results. Either they misspelled it, or the field just doesn't exist, or something else I suppose. Let's build in a view to show them that there are no results. Something quirky.

Example:

![image](https://cloud.githubusercontent.com/assets/58048/7219828/d4201f4e-e680-11e4-9710-6ec6e2606829.png)

[2015-04-19 22:33] erikreagan opened #18 "Replace whitespace image in readme"
Contrast sucks on that image. Replace it with an image using a different Sublime theme.

Current:

![image](https://cloud.githubusercontent.com/assets/58048/7221677/83f87b82-e6c2-11e4-8de9-ac467c4b4612.png)

[2015-04-20 00:59] erikreagan opened #19 "Typo in Plain Text code snippet"
The "If Exists" Conditional heading is missing the opening quote.

![image](https://cloud.githubusercontent.com/assets/58048/7222204/fef37d1e-e6d6-11e4-8e58-9763841b89df.png)

(Thanks for the catch @lindseydiloreto)

[2015-04-20 01:04] #19 closed

[2015-04-20 01:16] keithmancuso opened #20 "Show fields by Entry Type along with fieldgroup"
Listing fields by field group is helpful but would be much more useful if it also let you see all the fields sorted and grouped by section and entry type.

Hoping something like this is in the works.

[2015-04-20 01:17] keithmancuso opened #21 "Show field instructions and other settings"
I love the links back to the docs and to the control panel but Id love to see this page show any instruction text along with any field level settings.

[2015-04-20 01:18] erikreagan commented on #20
Thanks @keithmancuso. I like that. Let me look into how accessible that data is within a normal Craft template and see if there's a way to build something like this.

For my use of this so far, I usually know what field(s) I'm looking for so I just use the field search box to find it super fast. I can see how grouping by section may be helpful though.

[2015-04-20 01:22] erikreagan commented on #21
Great! Thanks!

There's always a but... :wink:

The intention of the Cheat Sheet is for quick reference while working on templates and accessing data. I'm curious how the instruction text would be helpful in that context? We've only used the instruction text to inform people while entering content in the CP, not while using fields in templates.

We did play around with incorporating the instructio

[2015-04-20 02:12] erikreagan opened #22 "Address title redundancy"
When we started this, "Craft" wasn't in the name so we added "for Craft" in the header. With Craft in the name of the Cheat Sheet there's some redundancy in the header now.

![image](https://cloud.githubusercontent.com/assets/58048/7222672/2aa462c0-e6e1-11e4-95f4-c8ab815c4137.png)

Thoughts? Should we change anything?

[2015-04-20 03:11] Natetronn opened #23 "Custom Elements creation error"
When creating a custom element I get the following error:

![Error](https://monosnap.com/file/pE2R1a59jXa4E5Wgil5bvERBSzXbBi.png)

You have an animated GIF in your readme showing this actually working correctly. When I, however, add a custom element name it creates it but, the input is left with the name still sitting there (custom in my example) and the error above show up in the console.

This i

[2015-04-20 04:42] lindseydiloreto commented on #19
You're very welcome! :)

[2015-04-20 04:45] lindseydiloreto opened #24 "3rd party "Tag Documentation" links?"
Is it possible to have a "Tag Documentation" link for custom field types?

[2015-04-20 05:32] nexflo opened #25 "Fresh Install Error - Fresh Craft CMS Installation"
( ! ) Fatal error: Maximum function nesting level of '100' reached, aborting! in /Users/fw/Sites/craft/craft/app/vendor/twig/twig/lib/Twig/Node.php on line 192

[2015-04-20 06:31] lindseydiloreto opened #27 "Replace underscores with spaces"
When parsing out a field type's name, the parser does a great job of splitting camelCase words and putting spaces in there!

However, it doesn't do the same for **underscores**, leading to some weird formatting for 3rd party field types...

![screen shot 2015-04-19 at 11 25 18 pm](https://cloud.githubusercontent.com/assets/5309692/7224810/02c38af0-e6ec-11e4-9b3d-a0f80b64dd68.png)

Would it be poss

[2015-04-20 10:44] erikreagan commented on #27
@lindseydiloreto I tried coming at this from a regex perspective, but couldn't get it working. Can you try something for me? In your `cheatsheet.html` file go to [~ line 196](https://github.com/focuslabllc/craft-field-cheat-sheet/blob/master/downloads/cheatsheet.html#L196) and replace it with this:

```<span class="field_type">{{ field.type|replace('_', '')|replace('/(.)([A-Z])/', '$1 $2')|title }

[2015-04-20 10:46] erikreagan commented on #25
@nexflo This is likely an xDebug setting at play. Try bumping up your limit from 100 to something higher. Others have seen this and this change has resolved the problem.

[2015-04-20 12:34] erikreagan commented on #24
@lindseydiloreto I've been thinking about this one for a few days now. I definitely want to be able to support 3rd party docs links in the same way we link to Craft docs.

I'm not sure what route to take yet but am open to suggestions.

[2015-04-20 14:17] erikreagan commented on #23
@Natetronn Bug confirmed. I'll work out a patch in the next day. Thanks!

[2015-04-20 14:32] andyfought commented on #22
What if it were just "The Field Cheat Sheet for Craft"? I like that we have the Craft logo displayed. @erikreagan

[2015-04-20 14:34] andyfought commented on #15
I like the way that yellow looks. Should I do that? @erikreagan

[2015-04-20 14:56] erikreagan commented on #22
@andyfought I like having the logo displayed too. I'd prefer consistency for how it's mentioned on twitter, web stuff, etc.

What if the word Craft in the title was the mark and we drop "for Craft" from the end? Would that be strange?

[2015-04-20 14:57] erikreagan commented on #15
@andyfought I already added that actually.
@alexsailer you good with it?

[2015-04-20 14:57] alexsailer commented on #15
Yea I dig it

[2015-04-20 14:58] erikreagan commented on #15
Cool. I'll close the issue since the code is already there then.

[2015-04-20 14:58] #15 closed

[2015-04-20 15:11] #23 closed

[2015-04-20 15:11] erikreagan commented on #23
@Natetronn This one is patched up and ready for a new download. Thanks for reporting it!

[2015-04-20 15:57] andyfought commented on #22
I don't think I like it, thoughts?
![screen shot 2015-04-20 at 11 56 18 am](https://cloud.githubusercontent.com/assets/4450414/7234327/56cc4f16-e754-11e4-8f05-c3c3f929ab5b.png)

[2015-04-20 20:12] lindseydiloreto commented on #24
Hard to say... It'll probably be a little easier when it's eventually converted into a standard plugin. It might be "acceptable losses" for that feature to not exist quite yet.

I haven't though about it in detail, so this suggestion might be garbage... but maybe something can be pulled off using Twig macros?

[2015-04-20 20:20] lindseydiloreto commented on #27
Works like a charm!

Assuming the plugin dev has properly capitalized the first letter after the underscore, this should work flawlessly. Though I'm sure there are some folks who have (intentionally or accidentally) used a lowercase letter after their underscore.

Maybe just replace the underscore with a space? That should also work, in theory, and still cover any folks using a lowercase letter:

[2015-04-20 20:32] erikreagan commented on #24
Interesting idea, the macros. I'll chew on this a bit after the 1.0 release and see where we go.

Thanks!

[2015-04-20 20:33] erikreagan commented on #27
Yeah, I played around with removing the character and replacing it with a space. Couldn't decide. You've swayed my opinion though. Good point about some people not sticking to naming standards. I'll go with replacing it with a space.

This will be implemented in a release soon. Thanks!

[2015-04-20 20:38] erikreagan commented on #22
Yea, I don't like it either. Hmm. What if we drop "The"?

I don't think that'll be as nice. There's something about the way the "for" breaks up the type that is nice.

[2015-04-20 20:40] lindseydiloreto commented on #27
Np, thanks for patching that! :)

[2015-04-20 20:42] andyfought commented on #22
Can we just adjust the wording on Twitter and uses on the web to "the field syntax cheat sheet for craft"?

[2015-04-20 20:46] erikreagan commented on #22
Let's just leave it for now. I'm gonna see how the community uses it and responds to it. It may evolve into more than just fields, so let's not waste effort figuring this one out. You good with that?

[2015-04-21 01:08] erikreagan opened #28 "Complete Matrix code samples"

[2015-04-21 01:09] erikreagan opened #29 "Complete Table code samples"

[2015-04-21 13:43] #27 closed

[2015-04-21 17:56] andyfought commented on #11
Done!

[2015-04-21 17:57] #11 closed

[2015-04-21 17:59] andyfought commented on #16
I think this looks good, maybe tone down the yellow a bit though?

[2015-04-22 01:29] erikreagan commented on #17
@alexsailer ping. any thoughts on this or is it good to go?

[2015-04-22 01:30] alexsailer commented on #17
@erikreagan I think it's fine for right now but I'd like to do a custom illustration/animated gif at some point

[2015-04-22 01:31] erikreagan commented on #16
@andyfought @alexsailer how about this?

![image](https://cloud.githubusercontent.com/assets/58048/7265810/c03f9358-e86d-11e4-9871-c1875ccf2802.png)

[2015-04-22 01:32] alexsailer commented on #16
@erikreagan definitely better.

[2015-04-22 01:33] erikreagan commented on #17
@alexsailer Okay cool. I'll leave that to you to schedule and do whenever you want. For now I'll close this issue and we can talk about better/cooler ideas when you're ready. Thanks!

[2015-04-22 01:33] #17 closed

[2015-04-22 01:34] erikreagan commented on #16
@alexsailer sweet, thanks. gonna mark this one done.

[2015-04-22 01:35] erikreagan commented on #2
@alexsailer quick ping here as well. the groups default to open/expanded. sound good to you?

[2015-04-22 01:42] alexsailer commented on #2
@erikreagan sounds perfect.

[2015-04-22 01:44] alexsailer commented on #22
I like "the field syntax cheat sheet for craft". I agree with @erikreagan on how "for" breaks up the type. ;)

[2015-04-22 01:46] erikreagan commented on #2
:+1:

[2015-04-22 01:46] #2 closed

[2015-04-22 01:48] #16 closed

[2015-04-22 01:48] #18 closed

[2015-04-22 01:51] erikreagan commented on #22
Random thought:

![image](https://cloud.githubusercontent.com/assets/58048/7265973/87db46c6-e870-11e4-8137-9dde57b93030.png)

[2015-04-22 20:55] erikreagan commented on #14
@alexsailer @andyfought A thought for you: we use an "x" in the sidebar to _collapse_ but we use an "x" in the header area to _delete_. It's not a huge deal right now, but long-term I think it's worth considering a change to one of these to avoid confusion.

http://d.pr/i/18fEK

Thoughts?

[2015-04-22 20:56] alexsailer commented on #14
go back to an arrow? ;)

[2015-04-23 01:53] erikreagan commented on #14
@alexsailer that's what I was thinking haha.

@andyfought thoughts? Maybe an arrow pointing right for collapsed and pointing down for expanded?

[2015-04-23 02:20] andyfought commented on #14
I don't like the arrows, and it is in a completely different context to get confused in my opinion

[2015-04-23 10:15] erikreagan commented on #29
@alexsailer The final 2 field types I have to implement are the ones that are "different" in terms of output. This one is simply called Table and it allows for flexible table creation. I want to show a table with 3 columns that contain data about each "Table field."

Can you put together a table design and throw a screenshot in here so @andyfought can mark it up?

[2015-04-23 10:19] erikreagan commented on #29
The table would contain a header row, then body rows containing plain text and single-line code samples.

First Heading | Second Heading | Third Heading
----------- | ----------- | -----------
Text | `{{ code }}` | text
Text | `{{ code }}` | text
Text | `{{ code }}` | text

This is how GitHub styles that kinda stuff.

[2015-04-23 13:12] erikreagan opened #30 "Macro-fy field blocks"
The easiest way to setup the Matrix code block is to macro-fy the current field type blocks. We need to move from a `switch` statement to a dynamic call to a macro. In short:

`if [macro exists] then [call macro and pass arguments] else [default message]`

as opposed to the current

	{% switch field.type %}
		{% case 'fieldType' %}
			...

		{% default %}
			...
	{% endswitch %}

[2015-04-23 13:13] erikreagan commented on #30
Might be able to use [the attribute function](http://twig.sensiolabs.org/doc/functions/attribute.html) for this.

[2015-04-23 13:17] erikreagan commented on #30
This should work:

	{{ attribute(csMacro, 'cs_' ~ field.type) is defined
		? attribute(csMacro, 'cs_' ~ field.type, [
			{
				'sampleTag' : sampleTag ~ '.' ~ field.handle,
				'field'     : field,
				'whitespace': whitespace
			}])
		: '<p class="notice">There are no code samples available for this field type yet.</p>'
	}}

Provided each macro is named with the convention of `cs_FieldType` and i

[2015-04-23 15:04] alexsailer commented on #29
![screenshot 2015-04-23 10 53 42](https://cloud.githubusercontent.com/assets/4948316/7300163/8edc8866-e9a8-11e4-873a-e9ef8932f252.png)

[2015-04-23 15:07] erikreagan commented on #29
Schweet. Probably no need for any changes, but for @andyfought's notes:

1. The descriptive text will never be above it like that
2. No copy-to-clipboard icon needed

[2015-04-23 15:43] andyfought commented on #29
On it!

[2015-04-23 16:20] andyfought commented on #29
Should be good to go. Please confirm and we can close this issue.

[2015-04-23 16:22] andyfought commented on #14
Maybe for this we could just use a "+" and "-" as indicators? thoughts? @erikreagan @alexsailer

[2015-04-23 16:53] erikreagan commented on #29
@andyfought pulling down to check it out soon. Thanks!

[2015-04-23 16:54] erikreagan commented on #14
@andyfought Yeah, I like that.

[2015-04-23 17:18] #29 closed

[2015-04-23 17:18] #30 closed

[2015-04-23 19:32] erikreagan commented on #28
Completed in 9ea7541ef17bc4c0b2ea489ee6391ea484ad8e53.

[2015-04-23 19:32] #28 closed

[2015-04-23 20:44] erikreagan commented on #20
@keithmancuso after reviewing this in detail, I'm afraid it won't be something we can work into the Cheat Sheet. Too much overhead and too complicated to traverse data through twig.

I do have plans and idea for a Plugin version of the Cheat Sheet, so I'll mark this as a feature for that version. It will be much more accessible when I'm building and querying with PHP rather than Twig.

Thanks!

[2015-04-23 20:44] #20 closed

[2015-04-23 20:46] #25 closed

[2015-04-24 01:42] erikreagan opened #31 "Readme / Documentation prep for 1.0.0"
- [x] Remove note at top of readme
- [x] Add credits / names
- [x] Add link to [sample site](http://shared.focus.build/craft-cheat-sheet/)
- [x] Wiki page: Installing / setup
- [x] Wiki page: General Use

[2015-04-24 01:51] #14 closed

[2015-04-24 20:43] #31 closed

[2015-04-26 20:48] erikreagan commented on #7
Answer: this will remain for fields. Future plugin can be more robust.

[2015-04-26 20:48] #7 closed

[2015-05-05 03:02] angusfretwell opened #33 "Switch/case syntax is incorrect in the matrix example"
The syntax `{% case="condition" %}` throws an error; it should be `{% case "condition" %}`.

[2015-05-05 10:27] erikreagan commented on #33
Hi @angusfretwell. Great catch. I'd love to merge this in but it looks like the pull request you created was to the master branch on your own repo. If you send it over to this repo I'll merge it in.

Thanks!
Erik

[2015-06-02 16:35] #33 closed

[2015-06-04 20:31] stevieg83 opened #35 "Have issues running with PHP5.5.21-1"
I've got a Vagrant/Puphet config and cheatsheet fails with

`Fatal error: Maximum function nesting level of '100' reached, aborting! in /var/www/craft/app/vendor/twig/twig/lib/Twig/Node.php on line 192`

I did notice the same thing with MAMP Pro running PHP 5.5.23 but no problems on 5.4.39

[2015-06-04 20:33] erikreagan commented on #35
Hey Steven,

Check out #25 for more info. Should be an easy fix.

—e

[2015-06-04 21:10] stevieg83 commented on #35
Doh! I should have have looked at closed issues. Thanks man.

Sent from my iPhone

[2015-06-04 22:23] #35 closed

[2016-06-01 20:56] proimage opened #37 "Avast! Thar be letter 'C' Pirates in these here waters!"
The JS that intercepts the "C" keypress and focuses the "Enter Custom Element" text input ignores the CTRL state (Windows 10 & Chrome), thus triggering even on `CTRL+C`. While the text copy still takes place, the cursor jumps into the text field and the entire window scrolls back up to the top. Shiver me timbers!

[2016-07-18 14:19] tjhill commented on #37
I also have this issue on mac w/ chrome (cmd-C) - I've just started using this and love it, apart from this bug!

[2016-11-02 15:20] Midknight opened #39 "100+ Fields gets cut off"
![craftcmscheatsheet](https://cloud.githubusercontent.com/assets/274881/19934674/1f195c96-a0dd-11e6-9bf7-6d4a9602051b.png)

I have 111 fields and it cuts off after 69 Fields + 9 Field Groups.

[2016-11-14 10:03] rostockahoi commented on #37
You're right. This is annoying. I'm on Linux + Firefox 51 dev.

[2016-12-22 06:05] SimonEast opened #40 "Deprecation error: getBuild() has been deprecated"
I noticed I'm now getting the following deprecation warning when running the cheat-sheet:

I suspect it's a simple fix to update the template to use `getVersion()` although I don't think it will be backwards-compatible.

Simon.

[2016-12-22 13:56] erikreagan commented on #40
Hey Simon,

We're getting it too. :)

We're on a holiday break right now but have plans to roll out a fix in the
first week of January. Thanks for posting it here to make sure we were
aware! I'll reply again when this is fixed up.

Erik

On December 22, 2016 at 1:05:05 AM, Simon East (notifications@github.com)
wrote:

[2016-12-23 14:45] erikreagan commented on #39
@Midknight Hey there. Apologies for the very delayed response. I'm trying to track this down now but am having trouble replicating it. Can you share other details about your experience such as the browser, version, etc?

[2016-12-23 14:45] #37 closed

[2016-12-23 14:45] #40 closed

[2016-12-23 14:46] erikreagan commented on #40
@SimonEast This should be all fixed up with the latest release. :)

[2016-12-23 14:47] erikreagan commented on #37
@proimage @hill @rostockahoi This is fixed up with the latest release. Thanks!

[2016-12-23 15:47] Midknight commented on #39
Yeah no problem. Running Firefox 50, Chrome 55.0.2883.87 (Chrome cuts list off at 15 items as well within a group). I am assuming its something to do with your max-height on

`aside ul li input[type="checkbox"]:checked ~ ul`

Reason for multiple fields is that I have dedicated product pages that have numerous models with the same specifications per product. Little easier to manipulate and pull dat

[2016-12-23 20:57] erikreagan commented on #39
Thanks for that info. I tried both Firefox 50.x and Chrome 55.x and had 133 fields in the test build. Some groups had 15+ fields in them.

Any other details you can share? Any interest in sending me a db dump so I can duplicate more about the environment?

[2016-12-29 18:38] Midknight commented on #39
I just played with the max-height on: `aside ul li input[type="checkbox"]:checked ~ ul` and changed it from 30em to 100% and it resolved my issue.

[2017-03-07 22:16] jayhlee opened #41 "Plugin disabled, won't enable in the control panel and won't work"
My cheatsheet no longer works after adding SSL on my domain and enabling HTTP2. It worked fine before the updates. Strangely, the plugin shows in my control panel but shows as disabled. When I try to click on Enable, it doesn't work. Is there perhaps an issue with using cheatsheet with SSL? I have dev mode enabled as well, so I know that's not the issue.

[2017-03-08 08:35] dsp303 commented on #41
Same here (without SSL) – Plugin won’t get active, is disabled all the time…

[2017-03-08 10:45] erikreagan commented on #41
@jayhlee @dsp303 Good to know. We'll take a look today. Thanks!

[2017-03-08 10:55] erikreagan commented on #41
@jayhlee @dsp303 What versions of Craft and the Cheat Sheet are you using?

[2017-03-08 11:32] dsp303 commented on #41
Craft CMS 2.6.2966, Cheat Sheat 1.2.0

[2017-03-08 23:47] jayhlee commented on #41
@erikreagan Thanks! I'm running Craft 2.6.2966, Cheat Sheet 1.2.0.

[2017-03-16 14:27] Spydr331 opened #42 "Plugin won't work on local machine"
I am currently running on "localhost:88/craft/public" off of MAMP. I downloaded the site yesterday and downloaded this plugin today as I learn more of craft. I installed and enabled the plugin but when I go to "http://localhost:88/Craft/public/cheatsheet" it gives me a 404 page.

Does the plugin not work locally? I updated the site url in general settings to be "http://localhost:88/Craft/public" b

[2017-03-20 12:00] dfravel commented on #41
Hey guys - I believe the issue is related to the differences between the file name and the name of the class. The file name is cheatSheetPlugin.php (lower case C). However the class name is CheatSheetPlugin (upper case C). I updated on this end to be the same (ucase C) and it now works perfectly in dev and staging. FYI - I'm using Laravel Forge/Digital Ocean for Staging

![file-name](https://cloud

[2017-03-20 12:21] erikreagan commented on #41
@dfravel Ahhh excellent catch!

@dsp303 andor @jayhlee can either of you give this manual fix a try and see if it resolved the issue for you locally as well? (I've still had trouble reproducing it.)

Thanks all!

[2017-03-20 12:35] dsp303 commented on #41
Damn, that was easy – good job @dfravel! Works now after renaming the php file to "CheatSheetPlugin.php".
![screenshot](https://cloud.githubusercontent.com/assets/26271807/24099943/1262b0d6-0d72-11e7-818a-b226cfbe6675.png)

[2017-03-20 12:43] erikreagan commented on #41
1.2.1 is pushed out and ready for download. Thanks again @dfravel!

[2017-03-20 12:43] #41 closed

[2017-03-20 12:45] erikreagan commented on #42
The plugin only works when `devMode` is enabled. Can you double check to see if that's the case on your site?

[2017-03-20 12:46] erikreagan commented on #42
Two links that might be helpful:

- https://craftcms.com/support/dev-mode
- https://craftcms.com/docs/config-settings#devMode

[2017-03-20 18:57] Spydr331 commented on #42
I must have missed the part where it said to activate dev mode, thank you, that was the solution

[2017-03-20 19:00] erikreagan commented on #42
Excellent! Happy cheating :)

[2017-03-20 19:00] #42 closed

[2017-03-30 18:29] jayhlee opened #44 "Plugin update not registering with Craft control panel update page"
I updated Cheatsheet to the latest version 1.2.1, but the update doesn't seem to register with the Craft control page. I tried uninstalling altogether and installing again, but I get the same message.

![update](https://cloud.githubusercontent.com/assets/25807445/24520102/1b93ed88-153c-11e7-93ee-4f369c8bc115.png)

[2017-03-30 18:54] erikreagan commented on #44
I believe this was fixed within the past 24 hours (#43). Can you download a fresh copy and try again?

[2017-03-31 16:18] jayhlee commented on #44
Thanks, Erik! It works now.

[2017-03-31 18:37] #44 closed

[2017-06-21 15:34] siebird opened #45 "FR: Fixed header"
First time using the cheatsheet–not sure why I waited so long to use it, it's awesome. Huge time saver from having to jump back into custom field settings!

As I was using the cheatsheet, I thought it would be great if the header was fixed and decreased in height once you scroll down the page. That way,  you could easily toggle between common and custom elements without losing your place on the pa

[2017-06-21 16:55] erikreagan commented on #45
@siebird Love this idea! We'll make it happen in the coming weeks. Good call. 👍

Great to hear! :)

[2017-06-21 17:05] siebird commented on #45
@erikreagan sweet. I was also thinking if the sidebar was fixed that would be helpful too. However, there would be some UI challenges with sidebar height vs. browser height. Google has a great solution for [this](https://developers.google.com/apps-script/overview) – play with your browser height and you'll see how they solve this.

[2017-10-21 14:12] dpanfili opened #46 "404 After Install"
After installing the plugin and setting the url path (in my instance just /cheat ), I'm getting a 404 when trying to reach that page. Running locally through MAMP if that helps troubleshoot. Also using free version of Craft.

[2017-10-21 16:27] erikreagan commented on #46
Do other dynamic urls load like entries you've created in sections?

[2017-10-21 23:04] dpanfili commented on #46
Dynamic urls only show correctly if devMode is set to true. If set to false, the they return 404s.

[2017-10-25 13:45] erikreagan commented on #46
Is the same true for the cheat sheet url? Does it work for you with devMode set to true?

[2017-10-25 21:59] erikreagan commented on #46
Clarification: the Cheat Sheet is designed to only work when devMode is turned on. So what you're experiencing, if I understand it correctly, is intended.

https://github.com/focuslabllc/craft-cheat-sheet/blob/2eebebcac78024b2afb04f7920a231ed708fc3b6/cheatsheet/controllers/CheatSheet_RoutesController.php#L24

Does that help?

[2017-11-24 11:45] dpanfili commented on #46
Yes, helps for sure. Sorry for the delay in response here. All good. Closing out. Thanks!

[2017-11-24 11:45] #46 closed

[2018-01-11 11:33] asparkam opened #47 "Page not found /cheatsheet"
Hello! I do everything according to this i[nstruction](https://github.com/focuslabllc/craft-cheat-sheet#installing-craft-cheat-sheet): I move the folder cheatsheet into plugins, then click install. Plugin is enabled, I'm trying to go to: http://sitename.dev/cheatsheet, but the page was not found. I changed the paths in the settings - it did not help.
What's wrong?

Craft version: 2.6.3003 - clean

[2018-01-11 12:20] asparkam commented on #47
Sorry, my fault. I'm not enable 'devMode' => true in craft config. May be put the note about it into install instruction?

[2018-01-11 13:17] erikreagan commented on #47
I think adding the instruction to the install section makes sense. We'll work that in. Thanks!

[2018-01-11 13:17] #47 closed

[2018-01-13 18:39] asparkam opened #48 "SuperTable and Neo plugin supporting"
Hello! Is it possible to add supporting of these plugins:
https://github.com/verbb/super-table
https://github.com/benjamminf/craft-neo

It is very popular Craft plugins for Field Types.

[2018-02-05 10:40] DHoogland opened #49 "Keeps telling me to update to 1.2.1"
Hey,

I updated to 1.2.1 and it keeps telling me to update to 1.2.1.
What to do about this?

[2018-02-05 10:41] DHoogland commented on #49
Seems related to https://github.com/focuslabllc/craft-cheat-sheet/issues/44, will check.

[2018-02-21 22:08] eheiser opened #50 "Craft does not detect plugin"
Craft CMS 2.6.3010, fresh install with client license. The cheatsheet folder is present in the plugin folder but the Craft control panel won't find it. Any idea? Never had this happen before.

[2018-02-21 22:10] #50 closed

[2018-02-21 22:10] eheiser commented on #50
never mind, was looking in the wrong install. Long day :)

[2018-02-21 23:26] erikreagan commented on #50
No worries, @eheiser. Glad it's sorted. Good to hear from you either way.

Cheers :)

[2018-02-21 23:30] eheiser commented on #50
Cheers mate!

[2018-04-03 01:47] AdamVig opened #51 "Publish to Packagist"
Can we add a `composer.json` to this project and publish it on Packagist?

[2018-04-16 19:44] eheiser opened #52 "Craft 3 version?"
Will there be a Craft3 version in the plugin store at some point?
Cheers!

[2018-05-09 21:26] j-greig commented on #52
Just wrote "Is there a way to autogenerate a basic template that outputs all of the content for an entry?" then remembered this plugin : )

[2018-07-05 16:53] guyinpv commented on #52
Also would like a Craft 3 version. I don't have a "plugins" folder. I'm assuming this would have to be converted to a Composer project. Re #51

[2018-08-03 20:37] erikreagan commented on #52
@eheiser @j-greig @guyinpv The Craft 3 version can be found in the plugin store now!

[2018-08-03 20:37] #52 closed

[2018-08-04 02:35] jalendport opened #54 "Twig Template Loading Error - v2.0"
Using the latest version of Craft 3 and Craft Cheat Sheet.

Just downloaded it and attempting to visit `mysite.test/cheatsheet` results in the following error:

    Twig Template Loading Error – craft\web\twig\TemplateLoaderException
    Unable to find the template “_includes/fieldMacros.twig” in "cheatsheet" at line 2.

It's quite possible it's some misconfiguration or weird setup on my site so p

[2018-08-04 02:47] erikreagan commented on #54
Hey Jalen. Did you install it via the plugin store? Another method?
--
Erik Reagan
Co-Founder, Director
Focus Lab, LLC
http://focuslabllc.com

[2018-08-04 02:48] jalendport commented on #54
Hey! Via the plugin store.

[2018-08-04 08:06] wsydney76 opened #55 "Twig Runtime Error V2.0.0"
When calling http://demo.local/cheatsheet there is a twig runtime error:

`Impossible to invoke a method ("strRepeat") on a string variable ("_includes/fieldMacros.twig").`

in \vendor\focuslabllc\craft-cheat-sheet\src\templates\frontEnd\_includes\fieldMacros.twig line 667.

  `~ _self.strRepeat(' ', max(rowWhitespace) - col.handle|length)`

Removing this line helps, could not notice anything wron

[2018-08-04 19:06] pogorzelskip commented on #54
Same here. I run latest Craft on xampp.

[2018-08-04 22:08] erikreagan commented on #54
That's an interesting statement. Did you install or set things up in a peculiar manner?

If it's okay I may end up hitting you up in Slack in the next day or so to speed up some back and forth just as a heads up. :)

[2018-08-04 23:54] #55 closed

[2018-08-04 23:55] erikreagan commented on #55
@wsydney76 I just published `2.0.1` which should fix this. Thanks!

[2018-08-05 01:30] erikreagan commented on #54
@jalendport @pogorzels Can one (or both) of you share your `composer.json` and `composer.lock` files from the root of your project? I'd like to explore the overlaps and see if there may be a conflict with another plugin at play.

Feel free to share them here or email them to dev@focuslabllc.com.

[2018-08-05 18:53] erikreagan commented on #54
@jalendport I just published 2.0.2 which I believe will resolve this. Let me know if that's not the case though. Thanks!

[2018-08-06 08:06] wsydney76 opened #57 "PHP Warning when using Redactor field"
Thanks for the quick fix of #55 , works now for me for a site without a redactor field.

But once a redactor field exists, it fails with a PHP Warning:

`call_user_func_array() expects parameter 1 to be a valid callback, class '__TwigTemplate_a2-xyz-4f' does not have a method 'macro_cs_Redactor'`

[2018-08-06 09:29] wsydney76 commented on #57
Error disappeard after update to 2.0.2.

[2018-08-06 09:29] #57 closed

[2018-08-06 10:12] DiederikVanHoorebeke commented on #54
I have v2.0.2 installed, and I get a similar error, but on lines 139-145. The plugin could not load `_includes/fieldMacros.twig` in `/craft/vendor/focuslabllc/craft-cheat-sheet/src/templates/frontEnd/cheatsheet.html`.

[2018-08-06 12:37] erikreagan commented on #54
@DiederikVanHoorebeke We had an error in the version tagging that may have cause the update to not work correctly. Can you try updating the plugin via composer and see if that fixes the problem?

[2018-08-07 00:49] erikreagan commented on #51
It's on Packagist now. :)

https://packagist.org/packages/focuslabllc/craft-cheat-sheet

[2018-08-07 00:49] #51 closed

[2018-08-07 00:50] erikreagan commented on #54
@DiederikVanHoorebeke Apologies. I forgot we hadn't published to Packagist yet. You should be able to use composer now and not receive that message.

[2018-08-07 09:44] DiederikVanHoorebeke commented on #54
I'm afraid it didn't help...

I uninstalled the plugin in the CP and did the following:
[code]

Then I installed and configured the plugin to get:
![image](https://user-images.githubusercontent.com/3625639/43768199-10ed1bee-9a37-11e8-850c-45eccf146142.png)

[2018-08-10 10:40] MattWilcox opened #58 "/cheatsheet errors out with a missing template?"
Attempting to go to /cheatsheet produces a page with this error:

Unable to find the template “_includes/fieldMacros.twig”.

in the file

/craft/vendor/focuslabllc/craft-cheat-sheet/src/templates/frontEnd/cheatsheet.html

on line 143

[2018-08-10 10:43] MattWilcox commented on #54
I'm getting this error also, on a fresh install of Craft3 and a fresh install of this plugin. I don't use Composer at all; the Craft3 install was from the zip, if that makes any difference. The plugin install was through the admin panel and plugin store.

[2018-08-10 18:53] jayhlee commented on #58
Got the same error, too.

[2018-08-12 21:53] erikreagan commented on #54
Thanks guys. Reopening as we investigate further.

[2018-08-12 21:54] erikreagan commented on #58
Same as #54. Closing this one and will continue the thread there.

[2018-08-12 21:54] #58 closed

[2018-08-13 00:05] khalwat commented on #54
You can fix this by changing it to a full path here:

[code]

Once a template starts rendering, there’s no guarantee that something else won’t be rendering something, so you can’t count on just changing the template path.

Also in the controller, you could make it a little more robust with some sanity checking/error logging:

[code]

[2018-08-13 13:02] erikreagan commented on #54
Update: this error was encountered when a few other plugins were present in a Craft install. @khalwat came in clutch (above) with a simple fix. The patch has been released with a fix to this in 2.0.3.

[2018-08-13 13:02] #54 closed

[2018-09-12 08:01] bartrylant opened #59 "Include fields in matrix blocks"
It would be very cool if the fields within matrix blocks also would have some examples. Now, in the example of a matrix field, the fields within blocks are just shown as `{{ block.fieldname }}` and not with all the specific options that are available to that fieldtype (e.g. for entries fields or asset fields).

[2018-10-11 22:32] chadcrowell opened #60 "FR: Don't jump to top on copy"
Hey Erik how's it going?

Please consider adding a plugin setting to turn off the auto jump-to-top when a tag is copied.

[2018-10-15 00:19] erikreagan commented on #60
Hey Chad! We'll take a look at this sometime this week. Thanks for the FR!

[2019-03-28 09:26] pvaessen opened #61 "user_func_array() expects parameter 1 to be a valid callback"
When trying to run the cheatsheet plug-in on a site using macros I get the following error:
call_user_func_array() expects parameter 1 to be a valid callback, class '__TwigTemplate_3e558ee162291bf865bc4de71ce4454e47ad4d296c107ac8a1735a3102ca9b66' does not have a method 'macro_cs_Position'

Any idea how to get this plug-in to work ?

[2020-02-04 14:22] pixelman opened #62 "not working in latest 3.4.3?"
I tried the basic setup but It returns a 'page not found'…
domain/cheatsheet/

[2021-02-04 16:06] solutiondrop commented on #61
I'm also receiving the same error on one project and just wanted to document it here. Other projects that use the same Craft and Cheat Sheet versions work great. The more complicated project has a lot of Neo and Matrix fields, but so far I can't figure this out. I'll circle back if I figure out why or a solution.

[2021-02-11 19:48] alsessions commented on #62
I've run into this if I try to use it in production. When the environment is set to "dev" it works as expected -- I assume this is intentional.

[2021-02-11 19:53] bfordham commented on #62
Yes, it looks to be intentional. See https://github.com/focuslabllc/craft-cheat-sheet/blob/master/src/controllers/RoutesController.php#L30

[2021-04-12 12:06] Prince-yohannan commented on #60
i wanna want to work on this

[2021-04-12 12:12] Prince-yohannan commented on #45
i want to do this please assign to me